.login-page {
  margin-top: 30px;
}
.login-card {
  padding: 30px;
  max-width: 500px;
  margin: auto;
  background: #ffffff;
}
.login-card .login-card-heading {
  margin: 0 0 20px 0;
}
.login-card .error-message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #f00000;
  color: #f00000;
  background: #ffeeee;
}
.login-card form button {
  font-size: 1em;
  height: 40px;
  padding: 0 30px;
  cursor: pointer;
}
.login-card form .form-group {
  margin-bottom: 30px;
}
.login-card form label {
  display: block;
  margin-bottom: 10px;
}
.login-card form input {
  width: calc(100% - 30px);
  height: 40px;
  font-size: 1em;
  padding: 0 10px;
}
